@page "/accommodations/{Id:int}" 
@using BlazorApp.Services
@using BlazorApp.Models
@inject AccommodationService AccommodationService

<h3>Accommodatie Details</h3>
<br/>

@if (accommodation == null) 
{ 
    <p><em>Loading...</em></p> 
} else { 
    <div> 
        <h4>@accommodation.Name</h4> 
        <i>@($"{accommodation.Loc.City}, {accommodation.Loc.Country}")</i>
        <br />
        <b>Beschrijving</b>
        <p>@accommodation.Description</p>
        <br /><br />
        <p>Prijs per nacht per persoon:
            @($"{accommodation.Price.Value:C}")
        </p>
    </div> 
}

@code { 
    [Parameter] public int Id { get; set; }
    
    private Accommodation accommodation;

    protected override async Task OnInitializedAsync()
    {
        accommodation = await AccommodationService.GetAccommodationByIdAsync(Id);
    }
}