@page "/"

<PageTitle>Homepagina</PageTitle>

<h1>Hallo!</h1>

Welkom bij deze revolutionaire web-app waarmee het overzicht van accommodaties en boekingen kan worden bekeken en beheerd. Klik op een van de links in de navigatiebalk om te beginnen.